# vars that connect to your proxmox server
export PROXMOX_VE_ENDPOINT=
export PROXMOX_VE_PASSWORD=
export PROXMOX_VE_USERNAME=
export PROXMOX_VE_INSECURE=

# iac creates an admin and viewer account, set passwords for those accounts and a ubuntu password for your vms
export SSH_PUBLIC_KEY=
export PROXMOX_ADMIN_PASSWORD=
export PROXMOX_VIEWER_PASSWORD=
export VM_SSH_PASSWORD_HASH=