export PROXMOX_VE_ENDPOINT=
export PROXMOX_VE_PASSWORD=
export PROXMOX_VE_USERNAME=
export PROXMOX_VE_INSECURE=
export SSH_PUBLIC_KEY=
export PROXMOX_ADMIN_PASSWORD=
export PROXMOX_VIEWER_PASSWORD=
export VM_SSH_PASSWORD_HASH=